.app-card {
    display: block;
    background: white;
    color: #3b3b3b;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: 1.875rem auto;
    height: 8.75rem;
    width: 15.625rem;
    position: relative;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
    transition: all 0.1s linear;
}

.app-card:hover {
    transform: scale(1.1);
    z-index: 1000;
    text-decoration: none;
}

.app-card--static {
    cursor: default;
}

.app-card--static:hover {
    transform: none;
    text-decoration: none;
}

.app-card__icon-container {
    width: 100%;
    height: 2.125rem;
    position: relative;
}

.app-card--reduced .app-card__icon-container {
    height: 1.875rem;
}

.app-card__icon {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    transform: translateX(-50%);
    padding-top: 0.25rem;
    position: absolute;
    top: -2.6875rem;
    left: 50%;
}

.app-card__content {
    position: relative;
    padding: 1.1875rem 1.625rem 0.625rem 1.625rem;
}

.app-card--reduced .app-card__content {
    padding: 0.875rem 1.5rem;
}

.app-card-icon__image {
    height: 4.3125rem;
    width: 4.3125rem;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    box-shadow: 0px 3px 6px #00000029;
}

.app-card__name-container {
    width: 100%;
    overflow: hidden;
}

.app-card__name {
    white-space: nowrap;
    position: relative;
    text-align: center;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 0.26px;
    line-height: 1.25rem;
    color: #3b3b3b;
    opacity: 1;
}

.app-card__name-fader {
    left: 0;
    position: absolute;
    width: 100%;
    height: 1.5em;
    z-index: 95;
    pointer-events: none;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%,
        rgba(255, 255, 255, 0.8) 81%, white 100%);
}

.app-card__hr {
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
    width: 12.5rem;
    border-color: #e6e6e6;
}

.app-card__description-container {
    margin: 0 auto;
    overflow: hidden;
    width: 12.625rem;
}

.app-card__description {
    font-size: 0.75rem;
    font-family: Muli;
    text-align: center;
    line-height: 1rem;
    letter-spacing: 0.21px;
    color: #3b3b3b;
    opacity: 1;
}

.app-card__extra-info-container {
    margin: 0 auto;
    overflow: hidden;
    width: 12.625rem;
}

.app-card__extra-info {
    font-size: 0.75rem;
    font-family: Muli;
    text-align: center;
    line-height: 1.25rem;
    letter-spacing: 0.19px;
    color: #3b3b3b;
    opacity: 1;
}